.main {
  padding-top: 80px;
  //background-color: red;
  //height: 1500px;
  min-height: calc(100vh - 139px);

  h1 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }

  .contactInfo {
    text-align: center;
    //background-color: red;
  }
}
